@charset "utf-8";
/* CSS Document */
/* 全局 */
* { margin:0px; padding:0px; border:0px;}
ul li { margin:0px; padding:0px; list-style:none; float:left;}
body { font-family:微软雅黑,黑体; font-size:12px; height: 100%;}
a { font-family:微软雅黑,黑体; text-decoration:none; color:#333;}
img { border:0px;}

/* 顶部 */
#admin_top { background:url(../images/admin_top_bg.jpg); height:50px;}
#admin_logo { background:url(../images/admin_top_logo.jpg) no-repeat; width:450px; height:50px; float:left;}
#admin_top_right { background:url(../images/admin_top_right.jpg) no-repeat; width:240px; height:50px; float:right; line-height:50px; color:#FFF;}
#admin_top_right a{ color:#FFF;}

#login { margin-right:auto; margin-left:auto; height:490px; background:url(../images/admin_login_bg.gif) no-repeat 300px -50px; background-color:#DDDDE2;}
#login_main  { width:300px; margin-right:auto; margin-left:auto; height:200px; padding-top:150px;}
#login_user, #login_psw { height:31px; width:210px; margin-top:20px; margin-left:20px; background:url(../images/login_input_bg.png) no-repeat;}
#login_submit { background:url(../images/admin_login_button.png) no-repeat; width:109px; height:35px; margin:20px auto auto 80px;}

#admin_main { width:100%; height:510px; background:url(../images/admin_right_bg.gif) no-repeat 480px -50px;}
#admin_left { background:#E6E6E6; width:180px; height:510px; float:left;}

#plat_index a,#plat_index a:hover,#kf_submit a,#kf_submit a:hover,#kf_manage a,#kf_manage a:hover { display:block; width:185px; height:36px; background-image:url(../images/admin_menu_bg.png); background-repeat:no-repeat; }
#plat_index a{ background-position:0px 0px;}
#plat_index a:hover{ background-position:-196px 0px;}
#kf_submit a{  background-position:0px -36px;}
#kf_submit a:hover{  background-position:-196px -36px;}
#kf_manage a{  background-position:0px -72px;}
#kf_manage a:hover{  background-position:-196px -73px;}

#admin_qq_index a,#admin_qq_index a:hover,#admin_qq_newgame a,#admin_qq_newgame a:hover,#admin_qq_game_manage a,#admin_qq_game_manage a:hover,#admin_qq_list_verify a,#admin_qq_list_verify a:hover,#admin_qq_list_manege a,#admin_qq_list_manege a:hover,#admin_qq_new_plat a,#admin_qq_new_plat a:hover,#admin_qq_plat_manage a,#admin_qq_plat_manage a:hover,#admin_qq_plat_level a,#admin_qq_plat_level a:hover,#admin_qq_plat_money a,#admin_qq_plat_money a:hover { display:block; width:185px; height:36px; background-image:url(../images/admin_qq_left.png); background-repeat:no-repeat; }
#admin_qq_index a {background-position:0px 0px;}
#admin_qq_index a:hover  {background-position:-185px 0px;}
#admin_qq_newgame a {background-position:0px -36px;}
#admin_qq_newgame a:hover  {background-position:-185px -36px;}
#admin_qq_game_manage a {  background-position:0px -72px;}
#admin_qq_game_manage a:hover {  background-position:-185px -72px;}
#admin_qq_list_verify a{ background-position:0px -108px;}
#admin_qq_list_verify a:hover {background-position:-185px -108px;}
#admin_qq_list_manege a{  background-position:0px -144px;}
#admin_qq_list_manege a:hover {  background-position:-185px -144px;}
#admin_qq_new_plat a{ background-position:0px -180px;}
#admin_qq_new_plat a:hover { background-position:-185px -180px;}
#admin_qq_plat_manage a{  background-position:0px -216px;}
#admin_qq_plat_manage a:hover  { background-position:-185px -216px;}
#admin_qq_plat_level a{ background-position:0px -252px;}
#admin_qq_plat_level a:hover { background-position:-185px -252px;}
#admin_qq_plat_money a { background-position:0px -288px;}
#admin_qq_plat_money a:hover {  background-position:-185px -288px;}

#admin_right { float:left; width:800px; padding:10px 20px;}
#admin_right p { height:30px;}
.kf_form { height:25px; width:200px; margin:0px auto auto 10px; border:1px #CCCCCC solid; color:#999;}
#plat_admin_list_button { width:72px; height:24px; background:url(../images/search_o.gif) no-repeat; margin-left:5px;}
#admin_submit { background:url(../images/admin_submit_button.gif) no-repeat; width:97px; height:32px; margin:20px auto auto 100px;}

table#plat_admin_list { border-left: 1px solid #EBEBEB; border-top: 1px solid #EBEBEB; margin-left:10px; margin-top:10px;}
#plat_admin_list th,#plat_admin_list td {border-right: 1px solid #EBEBEB;border-bottom: 1px solid #EBEBEB;font-size:12px;padding: 3px 0px 3px 3px;text-align:center;}
.admin_nor { color:#090;}
.admin_hot { color:#F60;}
.admin_ban { color:#999;}

#admin_page { width:750px; float:left; text-align:center; line-height:30px;}
#admin_footer { background:url(../images/admin_footer_bg.gif); height:65px; border-top:1px solid #FFF;}